server:
  http_listen_port: 9080
  grpc_listen_port: 0

positions:
  filename: /tmp/positions.yaml

clients:
  - url: http://loki:3100/loki/api/v1/push

scrape_configs:
  - job_name: containers
    static_configs:
      - targets:
          - localhost
        labels:
          job: containerlogs
          __path__: /var/lib/docker/containers/*/*-json.log
    pipeline_stages:
      - json:
          expressions:
            output: log
            stream: stream
            attrs: attrs
            time: time
      - json:
          expressions:
            level: level
            message: message
            logger: logger
            service: service
            agent_id: agent_id
            correlation_id: correlation_id
          source: output
      - labels:
          stream:
          level:
          service:
      - output:
          source: output
